extends layout

append scripts
  link(rel='stylesheet',href='/fullcalendar/fullcalendar.css')
  script(src='fullcalendar/fullcalendar.js')

block content
  .hero-unit
    h1= title
    p Welcome to #{title}

  include calendar/calendar
