doctype 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
      body { padding-top: 60px; }
    block scripts
      script(src='http://code.jquery.com/jquery-latest.js')
      script(src='/bootstrap/js/bootstrap.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="/") Meal Planner
          p.navbar-text.pull-right
            | Logged in as 
            a(href="#") Username
          ul.nav
            li
              a(href="/recipes") Recipes
            li
              a(href="#contact") Contact
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Config
                b.caret
              ul.dropdown-menu
                li.dropdown.submenu
                  a.dropdown-toggle(href="#",data-toggle="dropdown") Item 1
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="#") Item 1.1
    .container-fluid
      block content
