.calendar {
	display: table;
	border-collapse: collapse;
	width: 100%;
}

.week {
	height: 150px;
	display: table-row;
}

.day {
	display: table-cell;
	width: 14%;
	border: 1px solid #aaa;
	height: 100%;
}

.day.today {
	background-color: #ffa;
}

.dayHeader {
	background-color: #55f;
	color: #eee;
	font-weight: bold;
	padding: 4px;
}

.dayContent {
	padding: 4px;
	height: 100%;
}

.day.mealDropHover {
	background-color: #ddd;
}

ul.meals {
	list-style: none;
	margin: 0;
}

ul.meals li.meal {
	background-color: #ddf;
	border-radius: 6px;
	color: #000;
	margin: 4px;
	padding: 4px 8px 4px;
	font-size: 90%;
	cursor: pointer;
}

li.meal a.remove {
	display: none;
}

li.meal:hover a.remove {
	display: inline;
}

#recipeApp {
	margin-top: 32px;
}

.recipes {
	width: 80%;
}

.tags {
	width: 15%;
	float: right;
}
