.modal.hide.fade.in#createMeal(tabindex="-1",role="dialog")
  form(method='post',action='/meal')
    .modal-header
      button.close(type="button",data-dismiss="modal") x
      h3 Add Meal
    .modal-body
      label(for='date') Date
      input#date.datepicker(name='date',value=meal.date)
      label(for='name') Meal
      input#meal(name='meal',value=meal.name)
    .modal-footer
        button#createMealSave.btn.btn-success(type='button',onclick='handleSave(this)') Save
        button.btn(type="button",data-dismiss="modal") Cancel

